body {
 font-family: 'Spectral';
 font-size: 19px;
 background-color: #3ec7c9;
 max-width: 1200px;
}

.images img{
  position: relative;
  height: 350px;
  width: 550px;
  z-index: 2;


}

h1 {
  text-align: center;
  border-style: solid;
  background-color: white;
  text-decoration: underline;

}

h2 {
  text-align: center;
  border-style: solid;
  background-color: white;
  text-decoration: underline;


}

.link {
  color: blue;
}

.container {
  float: left;
  border-style:solid;
  color: white;
  max-width: 180px;
}
